/*
Colors
green: #006e18
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-nav {
  text-decoration: none;
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
}
.center-nav li {
  margin: 20px 50px;
  padding: 2px;
}

.center-nav li:hover {
  cursor: pointer;
  font-size: 18px;
  color: #006e18;
  padding: 0px;
  margin: 19px 49px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  text-align: right;
}

.card {
  width: 200px;
  margin: 20px;
  padding: 10px;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}
