
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}
.dish {
  font-size: 20px;
  font-variant: small-caps;
}
.fixed-nav {
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  /*position: fixed;
  top: 0;*/
}
.menu {
  background-color: rgba(255, 255, 255, .8);
}
.center-flex {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}

.center-nav {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-transform: uppercase;
  /*font-family: 'Cabin Sketch', cursive;*/
  font-family: 'Fredericka the Great', cursive;
  /*font-family: 'Kranky', cursive;*/
}
.center-nav a {
  margin: 20px 50px;
  font-size: 40px;
  color:
}

.center-nav a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 2px rgb(0, 80, 10);
}

footer {
  padding: 0.5em;
  width: 100%;
  background-color: rgb(0, 80, 10);
  color: white;
}

.card {
  width: 60%;
  padding: 0px;
  text-align: left;
  border-top: solid gray 1px;
}

.flex{
  display: flex;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.order-button{
}

.menu-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*flex-wrap: wrap;*/
}

.home-image{
  margin-top: 88px;
}

img {
  max-width: 100%;
}

.menu-nav {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  align-items: center;
}

.menu-nav input {
  margin: 0px 50px;
}
.description{
  padding: 0px 20px 10px 10px;
}
input {
  /*font-family: 'Kranky', cursive;*/
  font-variant: small-caps;
  border-style: none;
  background-color: white;
  font-size: 30px;
  outline: none;
}
.btn {
  background-color: white;
  color: rgb(0, 80, 10);
  outline: none;
  font-size: 14px;
  border: rgb(0, 80, 10) 1px solid;
  margin-left: 20px;
  border-radius: 10%;
  height: 60px;
  width: 60px;
}

.order-btn {
  background-color: rgb(0, 80, 10);
  color: white;
  outline: none;
  font-size: 14px;
  border: rgb(0, 80, 10) 1px solid;
  margin-left: 20px;
  border-radius: 5px;
  height: 40px;
  width: 140px;
}

.order-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(0, 80, 10);
  border-color: rgb(0, 80, 10);
  /*box-shadow: 0 0 10px 0 rgb(0, 80, 10);*/
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(0, 80, 10);
  color: white;
}

input:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 1px rgb(0, 80, 10);
}
